$blue: #228be6;
$gray: #495057;
$pink: #f06595;

.OutlineBox {
  padding: 20px 28px;
  display: inline-flex;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 1);
  align-items: center;
  font-size: 16px;
  font-weight: 400;

  &.fullWidth {
    width: 100%;
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }  
}

.hh {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #1E1E1E;
}